{% extends "layout_logged_in.html" %}

{% block content %}
<div class="consent">
    <div id = "home" class = "flex-column flex-center">
    <h1>Consent and Data Collection:</h1>
    <p>
        1. I confirm that I am at least 18 years old, or that my parent(s) / guardian(s) are aware of and approve my participation in this study. <br>
        <br>
        2. I understand that all personal information (e.g. name, age, email) will remain confidential, following the rules of the United Kingdom 2018 Data Protection Act and the UK General Data Protection Regulation (UK GDPR). <br>
        <br>
        3. I understand that this data may be used in research, publications and conference presentations by researchers at the Computer Laboratory, University of Cambridge and their collaborators within the University of Cambridge. <br>
        <br>
        4. For more information about how the University of Cambridge uses your personal data in research, please visit <a href = "https://www.information-compliance.admin.cam.ac.uk/data-protection/research-participant-data">https://www.information-compliance.admin.cam.ac.uk/data-protection/research-participant-data</a> <br>
        <br>
        5. I understand that my participation is voluntary and that I can withdraw from the study at any point, without question.<br>
        <br>
        If you'd like to get in touch, please email: andrew dot caines at cl dot cam dot ac dot uk
    </p>
    </div>
</div>
{% endblock content %}
