<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="static/stylesheets/style.css"></style>
    <style>
        .content {
          max-width: 500px;
          margin: auto;
        }
    </style>
    {% if title %}
        <title>CA - {{ title }}</title>
    {% else %}
        <title>CA - Listen & Improve</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4">Cambridge Assessment: Listen & Improve</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="consent">
                <div id = "home" class = "flex-column flex-center">
                    <br><br><br>
                    <h1>Consent and Data Collection:</h1>
                    <br>
                    <p>
                        1. I confirm that I am at least 18 years old, or that my parent(s) / guardian(s) are aware of and approve my participation in this study. <br>
                        <br>
                        2. I understand that all personal information will remain confidential, following the rules of the United Kingdom 2018 Data Protection Act and the UK General Data Protection Regulation (UK GDPR). <br>
                        <br>
                        3. I understand that this data may be used in research, publications and conference presentations by researchers at the Computer Laboratory, University of Cambridge and their collaborators within the University of Cambridge. <br>
                        <br>
                        4. For more information about how the University of Cambridge uses your personal data in research, please visit <a href = "https://www.information-compliance.admin.cam.ac.uk/data-protection/research-participant-data">https://www.information-compliance.admin.cam.ac.uk/data-protection/research-participant-data</a> <br>
                        <br>
                        5. I understand that my participation is voluntary and that I can withdraw from the study at any point, without question.<br>
                        <br>
                        If you'd like to get in touch, please email: andrew dot caines at cl dot cam dot ac dot uk
                        <br><br>
                        <input type="checkbox" id="consent_submit" name="consent_submit" onclick="myFunction()">
                        <label for="consent_submit">I agree to the terms and conditions.</label>
                        <br>
                        <form id="login" action="http://127.0.0.1:5000/login" hidden>
                            <input class="button" type="submit" value="Go to login" />
                        </form>
                        <br>
                        <form id="register" action="http://127.0.0.1:5000/register" hidden>
                            <input type="submit" value="Go to register" />
                        </form>

                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>

        function myFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("consent_submit");
            // Get the output text
            var login = document.getElementById("login");
            var register = document.getElementById("register");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                login.hidden = false;
                register.hidden = false;
            } else {
                login.hidden = true;
                register.hidden = true;
            }
        
        }
        function redir(url){
            location.replace(url)
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>